@model CheckOut.Models.Checklist

<div class="text-center">
    <h2>@Model.Title</h2>
    <p>Created on: @Model.DateCreated</p>

    <h3>ToDos:</h3>

    <form asp-controller="ToDos" asp-action="SetCompleted" method="post">
        <input type="hidden" name="checklistId" value="@Model.ChecklistId" />
        <ul class="centered-list">
            @foreach (var todo in Model.ToDos)
            {
                <li>
                    @todo.Description - 
                    <input type="checkbox" name="completedToDoIds" value="@todo.ToDoId" @(todo.IsComplete ? "checked disabled" : "") />
                </li>
            }
        </ul> 
        <button type="submit">Save Changes</button>
    </form>

    <a asp-controller="Home"asp-action="Index">Back To Home</a>
</div>